<section class="main-screen">
  <img src="assets/img/main-screen-bg.png" alt="" class="main-screen__bg">
  <div class="container">
    <div class="row main-screen-content align-items-center justify-content-between">
      <div class="col-xl-6">
        <div class="main-screen-heading h-heading heading--line">
          <h1 class="title-1">Do it now</h1>
          <p class="title-2 main-screen__txt">Or You Never Get It Back</p>
        </div>
        <div class="mainscreen-footer">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
          <a href="#/" class="main-btn">Order now</a>
        </div>
      </div>
      <div class="col-xl-6 main-screen-img">
        <img src="assets/img/main-img.png" class="img-fluid img-responsive" alt="">
      </div>
    </div>
  </div>
</section>

<section class="trigger">
  <div class="container">
    <div class="row trigger-content align-items-center">
        <img src="assets/img/product-trigger.png" class="trigger__img img-fluid img-responsive" alt="">
      <div class="offset-3"></div>
      <div class="col-md-3 trigger-item">
        <p class="trigger__number heading--line title-1">100</p>
        <p class="trigger__name">MG</p>
        <p class="trigger__descr">Per Capsule</p>
      </div>
      <div class="col-md-3 trigger-item">
        <p class="trigger__number heading--line title-1">60</p>
        <p class="trigger__name">Capsules</p>
        <p class="trigger__descr">Per Bottle</p>
      </div>
      <div class="col-md-3 trigger-item">
        <p class="trigger__number heading--line title-1">900</p>
        <p class="trigger__name">Plus</p>
        <p class="trigger__descr">Satisfied Customers</p>
      </div>
    </div>
  </div>
</section>